= form_for @rental_item do |f|
  - if @rental_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@rental_item.errors.count, "error")} prohibited this rental_item from being saved:"
      %ul
        - @rental_item.errors.full_messages.each do |message|
          %li= message
  = f.fields_for :rental_item_images do |p|
    .field
      = p.label :item_image
        - if p.object.item_image?
        = image_tag p.object.item_image.thumb.url
      = p.file_field :item_image, :multiple => true, name: "rental_item_images[item_image][]"
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :price
    = f.text_field :price
  .actions
    = f.submit 'Save'
